[project]
name = "vnuhcm-unigate"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "fastapi>=0.115.12",
    "psycopg2>=2.9.10",
    "uvicorn>=0.34.1",
]
